@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300&display=swap');
*,
*::before,
*::after {
	color: white;
	font-weight: bold;
	box-sizing: border-box;
	font-family: 'Oxanium';
	transition-duration: 500ms;
	transition-property: font-size, border-radius, transform;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

*::-webkit-scrollbar {
	display: none;
}

:root {
	--corners: 0.25em;
	--primary: 70, 160, 180;
	--dark: 35, 35, 35;
	--light: 210, 100, 120;
	--trim: 255, 255, 255;
}

body {
	margin: 0;
}

.full-screen-container {
	height: 100vh;
	width: 100vw;
	display: flex;
	transition: none;
	align-items: center;
	justify-content: center;
}

.container {
	--color: rgb(var(--dark), 0.5);
	color: white;
	max-width: 620px;
	position: relative;
	border-radius: var(--corners);
	backdrop-filter: blur(15px);
	background-color: var(--color);
	box-shadow: 0 0 15px 0 var(--color);
	border: 2px solid rgb(var(--trim));
	filter: drop-shadow(4px 4px 20px black);
}

.server-tile {
	align-items: center;
	vertical-align: middle;
}

.progress {
	--color: rgb(var(--trim), 1);
	height: 25px;
	border-radius: var(--corners);
	backdrop-filter: blur(15px);
	background-color: var(--color);
	border: 2px solid rgb(var(--trim));
}

.progress-bar {
	border-radius: var(--corners);
	background-color: black;
}

.progress-bar-title {
	mix-blend-mode: difference;
	position: absolute;
	text-align: center;
	line-height: 23px;
	overflow: hidden;
	color: #fff;
	right: 0;
	left: 0;
	top: 0;
}

.clock {
	font-size: 30px;
}

.date {
	font-size: 20px;
}

.search {
	color: white;
	font-size: 10px;
}

input {
	width: 100%;
	border: none;
	font-size: 20px;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	box-sizing: border-box;
	background-color: transparent;
	text-shadow: 0px 0px 1px grey;
}

textarea:focus,
input:focus {
	outline: none;
	text-shadow: 0px 0px 1px white;
}

hr {
	margin-top: 2px;
	background-color: inherit;
	color: rgb(var(--trim), 1);
	border: 1px solid rgb(var(--trim), 1);
}

.txt-btn {
	border: none;
	margin: none;
	padding: none;
	cursor: pointer;
	color: rgb(var(--trim), 1);
	background-color: transparent;
}

.txt-btn:hover {
	color: gray;
}

.hr-sect {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: white;
	margin: 8px 0px;
}

.hr-sect:before,
.hr-sect:after {
	content: '';
	flex-grow: 1;
	background: white;
	height: 2px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 0px;
}

a,
a:link,
a:visited {
	color: white;
	text-decoration: none;
}

a:hover {
	color: gray;
}
