@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
*,
*::before,
*::after {
	font-weight: bold;
	box-sizing: border-box;
	font-family: 'Roboto';
	font-weight: normal;
	/* transition-duration: 500ms; */
	/* transition-property: font-size, border-radius, transform; */
	/* transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55); */
}

*::-webkit-scrollbar {
	display: none;
}

:root {
	--corners: 0.25em;
	--primary: 70, 160, 180;
	--dark: 35, 35, 35;
	--light: 210, 100, 120;
	--trim: 255, 255, 255;
	--g1: rgb(100, 0, 200);
	--g2: rgb(250, 0, 100);
}

body {
	margin: 0;
	padding: 0;
}

.gradient {
	position: relative;
	margin: 0;
	padding: 0;
	animation: background-pan 10s linear infinite;
	background: linear-gradient(to right, var(--g1), var(--g2), var(--g1));
	background-size: 200%;
	height: 100vh;
	overflow: hidden;
	z-index: 1;
}

@keyframes background-pan {
	from {
		background-position: 0% center;
	}

	to {
		background-position: -200% center;
	}
}

.full-screen-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	z-index: 0;
}

/* ! Background Grid */
#tiles {
	height: calc(100vh - 1px);
	width: calc(100vw - 1px);
	position: relative;
	z-index: 3;
	display: grid;
	grid-template-columns: repeat(var(--columns), 1fr);
	grid-template-rows: repeat(var(--rows), 1fr);
}

.tile {
	position: relative;
}

.tile:hover:before {
	background-color: rgb(30, 30, 30);
}

.tile:before {
	background-color: rgb(15, 15, 15);
	content: '';
	inset: 0.0938rem;
	position: absolute;
}

.container {
	--color: rgb(var(--dark), 0.5);
	padding: 0.8rem;
	max-width: 38rem;
	position: absolute;
	border-radius: var(--corners);
	backdrop-filter: blur(0.9375rem);
	background-color: var(--color);
	box-shadow: 0 0 0.9375rem 0 var(--color);
	border: 0.125rem solid rgb(var(--trim));
	filter: drop-shadow(0.25rem 0.25rem 1.25rem black);
	z-index: 5;
}

.media-links {
	color: white;
}

.category {
	font-weight: bolder;
}

.server-tile {
	align-items: center;
	vertical-align: middle;
}

.progress {
	--color: rgb(var(--trim), 1);
	height: 1.5625rem;
	border-radius: var(--corners);
	backdrop-filter: blur(0.9375rem);
	background-color: var(--color);
	border: 0.125rem solid rgb(var(--trim));
}

.progress-bar {
	border-radius: var(--corners);
	background-color: black;
}

.progress-bar-title {
	mix-blend-mode: difference;
	position: absolute;
	text-align: center;
	font-weight: bold;
	line-height: 1.4375rem;
	overflow: hidden;
	color: #fff;
	margin: auto;
	right: 0;
	left: 0;
	top: 0;
}

.digital-container {
	max-width: 22rem;
	margin: auto;
	position: relative;
	padding: 1.25rem 0 1.25rem 0;
	margin-bottom: 1.25rem;
	display: flex;
	justify-content: center;
	place-items: center;
}

.clock {
	position: absolute;
	color: white;
	font-size: 1.875rem;
	opacity: 1;
	transition: 150ms opacity;
}

.clock-pdt {
	position: absolute;
	color: white;
	font-size: 1.875rem;
	opacity: 0;
	transition: 150ms opacity;
}

.date {
	top: 2.1875rem;
	position: absolute;
	color: white;
	font-size: 1.25rem;
	opacity: 1;
	transition: 150ms opacity;
}

.date-pdt {
	top: 2.1875rem;
	position: absolute;
	color: white;
	font-size: 1.25rem;
	opacity: 0;
	transition: 150ms opacity;
}

.digital-container:hover > .clock-pdt,
.digital-container:hover > .date-pdt {
	opacity: 1;
}

.digital-container:hover > .clock,
.digital-container:hover > .date {
	opacity: 0;
}

.search input[type='text'] {
	padding-top: 1.25rem;
	font-size: 1.15rem;
	background-color: transparent;
	text-decoration: none;
	text-align: center;
	outline: none;
	border: none;
	color: grey;
}

.search input:focus,
.search textarea:focus {
	text-decoration: none;
	text-align: center;
	outline: none;
	border: none;
	color: white;
}

hr {
	margin-top: 0.125rem;
	background-color: inherit;
	color: rgb(var(--trim), 1);
	border: 0.0625rem solid rgb(var(--trim), 1);
}

.txt-btn {
	border: none;
	margin: none;
	padding: none;
	cursor: pointer;
	font-weight: bold;
	color: rgb(var(--trim), 1);
	background-color: transparent;
}

.txt-btn:hover {
	color: gray;
}

.hr-sect {
	display: flex;
	flex-basis: 100%;
	font-weight: bolder;
	align-items: center;
	color: white;
}

.hr-sect:before,
.hr-sect:after {
	content: '';
	flex-grow: 1;
	background: white;
	height: 0.125rem;
	font-size: 0rem;
	line-height: 0rem;
	margin: 0rem 0rem;
}

a,
a:link,
a:visited {
	color: white;
	text-decoration: none;
}

a:hover {
	color: gray;
}

/* Circle bars */
.circle-bar {
	background: conic-gradient(blue, 3.6deg, grey 0deg);
	background-color: pink;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	position: relative;
	display: flex;
	height: 5rem;
	width: 5rem;
}

.circle-bar::before {
	background-color: purple;
	position: absolute;
	border-radius: 50%;
	content: '';
	height: 90%;
	width: 90%;
}

.circle-value {
	position: relative;
	font-weight: 500;
	font-size: 1rem;
	color: pink;
}
