@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300&display=swap');
*,
*::before,
*::after {
	color: white;
	box-sizing: border-box;
	font-family: 'Oxanium';
	font-weight: normal;
	overflow: -moz-scrollbars-none;
	scrollbar-width: none;
}

*::-webkit-scrollbar {
	display: none;
}

:root {
	--corners: 0.25em;
	--primary: 70, 160, 180;
	--dark: 35, 35, 35;
	--light: 168, 168, 168;
	--trim: 255, 255, 255;
	--online: 113, 207, 76;
	--offline: 207, 76, 76;
}

body {
	margin: 0;
	overflow-y: hidden;
	overflow-x: hidden;
}

span {
	position: relative;
	white-space: nowrap;
}

hr {
	padding: 0;
	margin: 0;
}

.full-screen-container {
	height: 100vh;
	width: 100vw;
	display: flex;
	transition: none;
	position: relative;
	align-items: center;
	justify-content: center;
}

.container {
	max-height: 100vh;
	overflow: scroll;
	padding: 0.5rem;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 0.5rem;
}

.system-info {
	display: grid;
	grid-template-columns: 1fr;
}

.server-card {
	padding: 0.8rem;
	--color: rgb(var(--dark), 0.5);
	border-radius: var(--corners);
	backdrop-filter: blur(15px);
	background-color: var(--color);
	filter: drop-shadow(0 2px 5px black);
}

.server-header {
	display: flex;
	justify-content: space-between;
}

.server-body {
	font-size: 0.9rem;
}

.server-footer {
	margin-top: 1rem;
}

.server-header .instance-name {
	float: left;
}

.server-header .instance-game {
	float: right;
	opacity: 0.55;
}

.auth-glow {
	display: grid;
	grid-gap: 0.25rem;
	animation-duration: 2s;
	animation-name: auth-color;
	backdrop-filter: blur(15px);
	border-radius: var(--corners);
	grid-template-columns: auto 1.5fr;
	--color: rgb(var(--dark), 0.5);
	background-color: var(--color);
	box-shadow: 0 0 15px 0 var(--color);
	animation-iteration-count: infinite;
	filter: drop-shadow(4px 4px 20px black);
}

.auth-glow i {
	padding: 0 0.25rem;
}

@keyframes auth-color {
	0% {
		border: 2px solid rgb(var(--online), 0.5);
		box-shadow: 0 0 10px 1px rgb(var(--fade1), 0.5);
	}
	50% {
		border: 2px solid rgb(var(--offline), 0.5);
		box-shadow: 0 0 10px 1px rgb(var(--offline), 0.5);
	}
	100% {
		border: 2px solid rgb(var(--online), 0.5);
		box-shadow: 0 0 10px 1px rgb(var(--online), 0.5);
	}
}

.hidden {
	opacity: 0;
	filter: blur(5px);
	translate: -100%;
	transition: all 0.25s;
}

.show {
	opacity: 1;
	filter: blur(0);
	translate: 0%;
}

.server-card.online {
	border: 2px solid rgb(var(--online), 0.5);
	box-shadow: 0 0 10px 1px rgb(var(--online), 0.5);
}

.server-card.offline {
	border: 2px dashed rgb(var(--offline), 0.5);
	box-shadow: 0 0 10px 1px rgb(var(--offline), 0.5);
}

.hr-sect {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: white;
	margin: 8px 0px;
}

.progress {
	position: relative;
	border-radius: var(--corners);
	background-color: transparent;
}

.progress-bar {
	border-radius: var(--corners);
	mix-blend-mode: difference;
	background-color: rgb(var(--light), 0.2);
}

.progress-bar-title {
	mix-blend-mode: difference;
	font-size: 1.2em;
	font-weight: normal;
	position: absolute;
	text-align: center;
	line-height: 19px;
	overflow: hidden;
	color: #fff;
	right: 0;
	left: 0;
	top: 0;
}
